<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>CorkBoardIt: CprkBoard Statistics</title>
        <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
  </head>

  <body>
    <div class="container">
    <!-- popular tags header -->
          <div class="row row-content">
            <div class="col-xs-6 col-md-4">
                <div class="row">
                  <h2 align=right><font color="blue">CorkBoard</font><font color="red">It</font></h2>
                </div>
                <div class="row">
                  <h4 align=right><font color="orange">Explore. Share. Inspire.</font></h4>
                </div>
            </div>            
          </div>
          <hr width=100% align=left>
          <div class="row row-header">
            <div class="col-xs-12 col-sm-5">
              <div class="row">
                <h2>CorkBoard Statistics</h2>
              </div>
            </div>
          </div>
    </div>
    <div class="container">
      {% if users == [] %}
      <h4>No CorkBoard Statistics</h4>
      {% else %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4><u><b>User</b></u></h4>
                {% for user, userEmail in zip(users, usersEmail) %}
                {% if userEmail == currUser %}
                <li class="list-group-item"><font size="2" color="red"><b>{{user}}</b></font></li>
                {% else %}
                <li class="list-group-item"><font size="2"><b>{{user}}</b></font></li>
                {% endif %}
                {% endfor %}
            </th>
            <th>
              <h4><u><b>Public CorkBoards</b></u></h4>
                {% for pubCB, userEmail in zip(numPublicCorkBoards, usersEmail) %}
                {% if userEmail == currUser %}
                <li class="list-group-item"><font size="2" color="red"><b>{{pubCB}}</b></font></li>
                {% else %}
                <li class="list-group-item"><font size="2"><b>{{pubCB}}</b></font></li>
                {% endif %}
                {% endfor %}
            </th>
            <th>
              <h4><u><b>Public PushPins</b></u></h4>
                {% for pubPP, userEmail in zip(numPublicPushPins, usersEmail) %}
                {% if userEmail == currUser %}
                <li class="list-group-item"><font size="2" color="red"><b>{{pubPP}}</b></font></li>
                {% else %}
                <li class="list-group-item"><font size="2"><b>{{pubPP}}</b></font></li>
                {% endif %}
                {% endfor %}
            </th>
            <th>
              <h4><u><b>Private CorkBoards</b></u></h4>
                {% for priCB, userEmail in zip(numPrivateCorkBoards, usersEmail) %}
                {% if userEmail == currUser %}
                <li class="list-group-item"><font size="2" color="red"><b>{{priCB}}</b></font></li>
                {% else %}
                <li class="list-group-item"><font size="2"><b>{{priCB}}</b></font></li>
                {% endif %}
                {% endfor %}
            </th>
            <th>
              <h4><u><b>Private PushPins</b></u></h4>
                {% for priPP, userEmail in zip(numPrivatePushPins, usersEmail) %}
                {% if userEmail == currUser %}
                <li class="list-group-item"><font size="2" color="red"><b>{{priPP}}</b></font></li>
                {% else %}
                <li class="list-group-item"><font size="2"><b>{{priPP}}</b></font></li>
                {% endif %}
                {% endfor %}
            </th>
          </tr>
        </thead>
      </table>
      {% endif %}
    </div>
          <footer class="row-footer">
          <div class="container">
              <div class="row" >
                  <b>Links - </b>
                  <a href="{{url_for('login')}}"> Logout</a>
                  <a href="{{ home_url }}"> | Home</a>
              </div>
          </div>
      </footer>
  </body>
</html>
