<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>CorkBoardIt: Popular Tags</title>
        <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
  </head>

  <body>
    <div class="container">
    <!-- popular tags header -->
          <div class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                  <h2 align=right><font color="blue">CorkBoard</font><font color="red">It</font></h2>
                </div>
                <div class="row">
                  <h4 align=right><font color="orange">Explore. Share. Inspire.</font></h4>
                </div>
            </div>            
          </div>
          <div class="row row-header">
            <div class="col-xs-12 col-sm-5">
              <div class="row">
                <h2>Popular Tags</h2>
              </div>
            </div>
          </div>
    </div>
    <div class="container">
      {% if tags == [] %}
      <h4>No Popular Tags</h4>
      {% else %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4><u><b>Tag</b></u></h4>
              {% for tag in tags %}
                <li class="list-group-item"><font size="2"><a href={{ url_for('searchFromPushPin', tag = tag) }}><b>{{tag}}</b></a></font></li>
              {% endfor %}
            </th>
            <th class="text-center">
              <h4><u><b>PushPins</b></u></h4>
              {% for count in pushPinCount %}
                <li class="list-group-item"><font size="2"><b>{{count}}</b></font></li>
              {% endfor %}
            </th>
            <th class="text-center">
              <h4><u><b>Unique CorkBoards</b></u></h4>
              {% for uniqueCount in uniqueCorkBoardCount %}
                <li class="list-group-item"><font size="2"><b>{{uniqueCount}}</b></font></li>
              {% endfor %}
            </th>
          </tr>
        </thead>
      </table>
      {% endif %}
    </div>
      <footer class="row-footer">
          <div class="container">
              <div class="row" >
                  <b>Links - </b>
                  <a href="{{url_for('login')}}"> Logout</a>
                  <a href="{{ home_url }}"> | Home</a>
              </div>
          </div>
      </footer>
  </body>
</html>
